*
  margin: 0
  padding: 0
  box-sizing: border-box

body
  font: 16px "Helvetica Neue", Arial, sans-serif
  color: #121214
  margin: 8px
  section
    padding: 8px
    width: 100%
    border: 1px solid #ebebeb
    background-color: #ffffff
    h1
      margin-bottom: 8px
    li
      padding-top: 8px
      border-top: 1px solid #ebebeb
      list-style: none
      & + li
        margin-top: 8px
      a
        display: inline-block
        text-decoration: none
        color: #8257e6
        &:hover
          color: #ff5a70
      p, a
        margin-top: 4px
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
      p:nth-child(1)
        font-weight: bold
      p:nth-child(2)
        font-style: italic
  #p-counter
    margin-top: 8px
  h2
    margin-top: 8px
  button
    margin-top: 8px
    padding: 8px
    border: none
    cursor: pointer
    font-weight: bold
    color: #fff
    background-color: #8257e6
    &:hover
      color: #000
      background-color: #ebebeb
